@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.nft {
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0 1px 1px 0 hsl(220, 15%, 55%);
    border-radius: 10px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 15%;
    padding: 15px 10px;
    
}

.nft-image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

/* .nft-image::after {
    color: hsl(178, 100%, 50%);
} */

.nft-image:hover .overlay{
    opacity: 0.5;
}

.overlay {
    position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  opacity: 0;
  transition: .3s ease;
  background: hsl(178, 100%, 50%);
  border-radius: 10px;
}

.viewcenter {
    /* font-size: 100px; */
  position: absolute;
  top: 50%;
  left: 50%;
  /* opacity: 2; */
  transform: translate(-50%, -50%);
  /* -ms-transform: translate(-50%, -50%); */
  text-align: center;
}

.equili {
    border-radius: 10px;
    width: 90%;
}

.nft-body {
    padding: 0px 18px;
}

.nft-body .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid hsl(215, 32%, 27%);
}


.eth {
    color: hsl(178, 100%, 50%);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 8px;
}

.clock {
    color: hsl(215, 51%, 70%);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 8px;
}

.icon{
    margin-left: 5px;
}

.nft-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 18px;
    margin-top: 5px;
}

.avatar {
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: left;
}


h1 {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    color: hsl(0, 0%, 100%);
}

p {
    font-size: 18px;
    text-align: left;
}

.name {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.name a {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    text-decoration: none;
}
.name a:hover {
    color: hsl(178, 100%, 50%);
}

